.people-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    row-gap: 3rem;
    box-sizing: border-box;
    width: 90vw;
    margin: 0 auto;
}

.people-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.people-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.people-info img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(3, 213, 250, 0.925);
}
.people-info strong {
    margin: .5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.add-friend-btn {
    background-color: #066e35;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    margin-top: 0.1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.add-friend-btn:hover {
    background-color: #168d5b;
    transform: scale(1.05);
}